.peach{
    width: 1300px;
    height: 280px;
    flex-shrink: 0; 
    border-radius: 100px 100px 0px 0px;
    padding: 53px 53px 11px 67px;
    background: #EFC2B3;
    display: flex;
    justify-content: space-around;
    margin-top: 200px;
}
.headshot{
    width: 400px;
    height: 400px;
    margin-top: -220px;
}
.funfact {
    color: #000;

font-family: Poppins;
font-size: 16px;
font-style: italic;
font-weight: 300;
line-height: normal;
width: 659px;
height: 159px;
flex-shrink: 0;
margin-top: -270px;
}

.summary {
    
    justify-content: space-between;
    width: 600px;
height: 400px;
flex-shrink: 0;
    color: #000;
    margin-top: -170px;
    margin-left: -800px;
font-family: Poppins;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

/* styles for resume link */
/* Debating leaving the link styled as is or going fancier with it. Custom button? more flamboyant font? */
.resume-link {
    display: flex;
    flex-grow: 0;
    align-items: center;
    justify-self: flex-start;
    margin-left: -470px;
    margin-bottom: -250px;
    color: #000;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* styles for skills  section */

.languages-section{
   


}
li{
    align-items: flex-start;
    margin: 0 2rem 2rem 2rem;
    justify-content: space-between;
}

.languages-header{

}
.languages-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    

}

.pro-skills-section{

}
.pro-skills-header{

}
.pro-skills-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
}