.peach{
    width: 1300px;
    height: 280px;
    flex-shrink: 0; 
    border-radius: 100px 100px 0px 0px;
    padding: 53px 53px 11px 67px;
    background: #EFC2B3;
    display: flex;
    justify-content: space-around;
    margin-top: 200px;
}
.headshot{
    width: 400px;
    height: 400px;
    margin-top: -220px;
}
.funfact {
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: italic;
    font-weight: 300;
    line-height: normal;
    width: 659px;
    height: 159px;
    flex-shrink: 0;
    margin-top: -270px;
}
.summary {
    justify-content: space-between;
    width: 600px;
    height: 400px;
    flex-shrink: 0;
    color: #000;
    margin-top: -170px;
    margin-left: -800px;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/* styles for resume link */
/* Debating leaving the link styled as is or going fancier with it. Custom button? more flamboyant font? */
.resume-link {
    display: flex;
    flex-grow: 0;
    align-items: center;
    justify-self: flex-start;
    margin-left: -470px;
    margin-bottom: -250px;
    color: #000;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
/* styles for skills  section */
li{
   display: flex;
    align-items: center;
    flex-direction: column;
}
.languages-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
}
.pro-skills-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
    margin: 1 1 1 1px;
}
/* icon styling */
.ui-icon{
    display: flex;
    flex-grow: 0;
    width: 80px;
    height: 80px;
    margin-top: -11px;
}
.nodejs-icon{
    display: flex;
    flex-grow: 0;
    width: 62px;
    height: 62px;
    /* margin-top: -10px; */
} 
.react-icon{
    display: flex;
    flex-grow: 0;
    width: 80px;
    height: 80px;
    margin-top: -10px;
  
} 

#js-icon{
height:128px;
width:128px;
}
#tester-icon{
    height:128px ;
    width:128px;
}

#node-icon{
    height:128px ;
    width:128px;
}
#react-icon{
    height:135px ;
    width:135px;
}

#css-icon{
    height:128px ;
    width:128px ;
}
#html-icon{
    height:128px ;
    width:128px ;
}
#sql-icon{
    height:128px ;
    width:128px;
}
#ux-icon{
    height:135px ;
    width:135px;
}