body{
    display: flex;
    flex-direction: column;
}
.peach-box{
    flex-shrink: 0;
    height: 426px;
    width: 1328px;
    display: flex;   
}
.contact-frame{
    display: flex;
    flex-direction: column;
}
.peach{
    display: flex;
    flex-shrink: 0;
    width:1328px;
    height: 426px;
    top: 300px;
    left: 0;
    background-color: #efc2b3;
    border-radius: 100px 100px 100px 100px;
    align-items: center;
    justify-content: space-between;
    margin-left: 93px;
}
.togetherlabel{
    display: flex;
    flex-shrink: 0;
    width: 434px;
    height: 68px;
    justify-content: space-around;
    top: 0;
    left: 0;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 38px;
    letter-spacing: 0;
    line-height: normal;
}
.togethertext {
    display: flex;
    margin-top: -30px;
    margin-left: 50px;
    padding-left: 20px;
}
.formbox{
    display: flex;
    /* flex-grow: 0; */
    align-items: flex-start; 
}
.myform {
    display: flex;
    align-items: flex-start;
    flex-grow: 1;
    width: 400px;
    flex-direction: column;
    border: #000000;  
}

#message {
    flex-grow: 1;
    height: 200px;
    width: 300px;
}
.collabbox {
    display: flex;
    flex-shrink: 0;
    width: 877px;
    height: 690px;
    align-items: flex-end;
    margin-top: 300px;
}
.collab {
    display: flex;
    flex-shrink: 0;
    width: 877px;
    height: 690px;
    justify-content: flex-start;
    margin-top: 300px;
    box-shadow: 0 5px 10px rgba(34, 33, 33, 0.1);
} 
#contact-page-footer{
    display: flex;
    flex-grow: 0;
    margin-top: 300px;
    flex-wrap: wrap;
    justify-content: center;
}
