.peach{
    width: 1300px;
    height: 426px;
    flex-shrink: 0; 
    border-radius: 100px 100px 0px 0px;
    padding: 53px 53px 11px 60px;
    background: #EFC2B3;
    display: flex;
}
.hello{
    color: #000;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 636px;
    height: 403px;
    flex-shrink: 0;
}
.hands {
    height: 444px;
    width: 589px;
}
.quote {
    padding-top: 20px;
}