*{
    font-family: 'Poppins', sans-serif;   
    }
.gif-container {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-start; 
}
.gif { 
    align-self: flex-start;
    padding-left: 0px;
    width: 149px;
    height:149px;
}
.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
}
li {
    align-items: flex-start;
    margin: 0 2rem 2rem 2rem;
}
.header {
    width: 300px;
    height: 61px;
    background:#efc2b3;
    opacity: .7;
    color: black;
    margin-top: 20px;
    margin-right: 0;
    margin-left: -60px;
    padding:20px 20px 20px 20px;
    font-size: xx-large;
    font-weight: 600;
}
.quote-box {
    display: flex; 
}
.quote{
    display: flex                                                                                                                   ;
    justify-content: center;
    padding-left: 60px; 
}
.footer-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    align-items: flex-end;
}