*{
    font-family: 'Poppins', sans-serif;
    }



.navbar {
    
   
}

ul {
display: flex;
flex-direction: row;
flex-wrap: wrap;
list-style: none;
justify-content: flex-end;
margin: 10px 10px;

}

li {
    align-items: flex-start;
    margin: 0 2rem 2rem 2rem;

}